<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <u><h1>Offers available</h1></u>

    {% if tickers %}

         {% for tick in tickers %}


            <li>Ticker: {{tick.ticker}} </li>
            <li> Bidder: {{tick.nombre}} </li>
            <li> Contact Mail: {{tick.mail}} </li>
            <li> Price: {{tick.precio}} </li>
            
            ----
            <br>

            <button>
                <a href="{% url 'DeleteTicker' tick.mail %}"> Delete </a>
            </button>
            <br><br>
            <button>
                <a href="{% url 'editbuyer' tick.id %}">Edit</a>
            </button>
            
    
        {% endfor %}
    {% else %}

            <h3> No ticker found! <h3/>

    {% endif %}
    <br><br><br>
<form action="/APPFE/buyer/" method="GET">
    
    <input type="submit" value="Back">

</form>


</body>
</html>